<app-header></app-header>
<div class="feedBody">

    <!-- ORDENAR POR DROPDOWN -->
    <div class="ordena">
        <p>Ordenar por:</p>
        <div class="custom-select">
            <select #sel (change)="onChange(sel.value)">
                <option>Mais Recentes</option>
                <option>Mais Antigas</option>
                <option>Mais Likes</option>
            </select>
            <span class="custom-arrow"></span>
        </div>
    </div>

    <!-- FOTO FEED -->
    <div class="photosFeed">
        <ul class="photosList">
            <li *ngFor="let photo of photos" >

                <!-- TODO ALTERAR OS CLIQUES -->

                <a class="photoDiv" href="/foto/{{photo.id}}">
                    <img class="mainImg" src={{photo.photo}}>
                </a>    
                <div class="info">
                    <div class="infoDono">
                        <img src="assets/user-profile.png"/>
                        <h2>{{photo.dono}}</h2>
                            
                    </div>

                    <div class="infoLike"> 
                        <!-- likes comecam por default com 1 -->
                        <h3>{{photo.likes.length-1}}</h3> 
                        <img id="like{{photo.id}}" src="assets/heart.png" tabindex="0" (click)="likeInvoke(photo.id)" (keyup.enter)="likeInvoke(photo.id)"/>
                        <img id="favorite{{photo.id}}" class="favorite" tabindex="0" src="assets/favourite.png" (click)="favoriteInvoke(photo.id)" (keyup.enter)="favoriteInvoke(photo.id)"/>
                    </div>
                </div>
                
            </li>
        </ul>
    </div>
</div>
<app-loading *ngIf="temFotosPorLoad"><p>Carregando as suas fotos ...</p></app-loading>
<p class="msgFinal" *ngIf="!temFotosPorLoad">Não há mais fotos! <a class="clicarTopo" tabindex="0" (click)="voltarTopo()" (keyup.enter)="voltarTopo()">Clique para voltar ao topo!</a></p>



    
