<app-header></app-header>
<div class="feedBody">

    <!-- ORDENAR POR DROPDOWN -->
    <div class="ordena">
        <p>Ordenar por:</p>
        <div class="custom-select">
            <select #sel (change)="onChange(sel.value)">
                <option>Mais Recentes</option>
                <option>Mais Antigas</option>
                <option>Mais Likes</option>
            </select>
            <span class="custom-arrow"></span>
        </div>
    </div>

    <!-- FOTO FEED -->
    <div class="photosFeed">
        <ul class="photosList">
            <li *ngFor="let photo of photos" >

                <!-- TODO ALTERAR OS CLIQUES -->

                
                <a class="photoDiv" href="/foto/{{photo.id}}">
                    <div class="imgLoader">
                        <div class="img"><img class="mainImg" id="mainImg{{photo.id}}" src={{photo.photo}} title="{{photo.nome}}" alt="{{photo.nome}}"></div>
                        <div class="loading"><app-loadingphoto></app-loadingphoto></div> 
                    </div>
                </a>    
                <div class="info">
                    <a class="infoDono" href="/perfil/{{photo.dono}}">
                        <img src="assets/user-profile.png"  />
                        <h2  >{{photo.dono}}</h2>  
                    </a>

                    <div class="infoLike"> 
                        <!-- likes comecam por default com 1 -->
                        <h3>{{photo.likes.length-1}}</h3> 
                        <img *ngIf="!tenhoLike(photo.id)" id="like{{photo.id}}" src="assets/heart.png" tabindex="0" (click)="likeInvoke(photo.id)" (keyup.enter)="likeInvoke(photo.id)"/>
                        <img *ngIf="tenhoLike(photo.id)" id="like{{photo.id}}" src="assets/likebutton.png" tabindex="0" (click)="likeInvoke(photo.id)" (keyup.enter)="likeInvoke(photo.id)"/>

                        <img id="favorite{{photo.id}}" class="favorite" tabindex="0" src="assets/favourite.png" (click)="favoriteInvoke(photo.id)" (keyup.enter)="favoriteInvoke(photo.id)"/>
                    </div>
                </div>
                
            </li>
        </ul>
    </div>
</div>
<app-loading *ngIf="temFotosPorLoad"><p>Carregando as suas fotos ...</p></app-loading>
<p class="msgFinal" *ngIf="!temFotosPorLoad">Não há mais fotos! <a class="clicarTopo" tabindex="0" (click)="voltarTopo()" (keyup.enter)="voltarTopo()">Clique para voltar ao topo!</a></p>



    
