.perfil-body{
    align-items: center;
    justify-content: center;
    max-width: 800px;
    margin: auto;
}

.userDoesntExist {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 800px;
    margin: auto;
}

.noexist {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #003F9A;
    font-weight: bold;
    font-size: 2rem;
    font-family: 'Century Gothic', Arial, Helvetica, sans-serif;
    padding-top: 10%;
    margin-block-start: 0em;
    word-break: break-word;
    text-align: center;
}

.nomeUser{
    color: #003F9A;
    font-weight: bold;
    font-size: 3rem;
    font-family: 'Century Gothic', Arial, Helvetica, sans-serif;
    /*padding-top: 5px;*/
    margin-block-start: 0em;
    word-break: break-word;
}

.nomeUser h1{
    padding-top:10px;

}

.titulo{
    color: #7B7B7B;
    font-weight: bold;
    font-size: 1.5rem;
    margin-bottom: 0px;
    font-family: 'Century Gothic', Arial, Helvetica, sans-serif;
}

.topo{
    text-align: right;

}

.photosList {
    display: grid;
    grid-template-columns: repeat(auto-fill, 250px);
    grid-gap: auto;
    justify-content: space-between;
    padding: 0;
}

.photosList li {
    display:flex;
    flex-direction: column;
    width:250px;
    margin: 0;
    list-style: none;
    margin-bottom: 25px;
}

.photoDiv {
    display:flex;
    flex-direction: column;
    width:250px;
    margin: 0;
    list-style: none;
    text-decoration: none;
    color: black;
}

.mainImg {
    width:250px;
    height:250px;
    object-fit: cover;
    margin: 0;
    background-color: grey;
}

.info {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgb(192, 192, 192);
    margin: 0;
    padding:8px;
}

.infoDono  {
    display:flex;
    flex-direction: row;
}

.infoLike  {
    display:flex;
    flex-direction: row;
}

.info img {
    width:20px;
    height:20px;
}

h1 {
    font-family: 'Century Gothic', Arial, Helvetica, sans-serif;
    font-size: 0.8rem;
    margin: auto 5px auto 0;
    font-weight: lighter;
}

.info h2, h3 {
    font-family: 'Century Gothic', Arial, Helvetica, sans-serif;
    font-size: 0.8rem;
    margin: auto 0px auto 6px;
}

.info h3 {
    padding-right: 5px;
}

.favorite {
    margin-left: 3px;
}

.semFotos {
    color: #7B7B7B;
    font-weight: bold;
    font-size: 1.5rem;
    margin-bottom: 0px;
    font-family: 'Century Gothic', Arial, Helvetica, sans-serif;
}

a.voltarFeed:visited, a.voltarFeed {
    text-decoration: none;
    color: #003F9A;
}

a.voltarFeed:hover {
    color: #0062eb;
}

