<!-- HEADER "LOGO + PERFIL" -->
<app-header></app-header>

<!-- TITULO -->

<div *ngIf="this.userExists; else elseBlock">
    <div class="perfil-body">
        <div class="topo">
            <h4 class="titulo"> Perfil de </h4>
            <h1 class="nomeUser">{{nickname}}</h1>
        </div>

        <!-- FOTO FEED -->
        <div class="photosFeed">
            <ul class="photosList">
                <li *ngFor="let photo of photos" >

                    <!-- TODO ALTERAR OS CLIQUES -->

                    <a class="photoDiv" href="/foto/{{photo.id}}">
                        <img class="mainImg" src={{photo.photo}}>
                    </a>
                    <div class="info">
                        <div class="infoDono">
                            <img src="assets/user-profile.png"/>
                            <h2>{{photo.dono}}</h2>
                        </div>

                        <div class="infoLike">
                            <h3>{{photo.likes.length}}</h3>
                            <img id="like{{photo.id}}" src="assets/heart.png" tabindex="0" (click)="likeInvoke(photo.id)" (keyup.enter)="likeInvoke(photo.id)"/>
                            <img id="favorite{{photo.id}}" class="favorite" tabindex="0" src="assets/favourite.png" (click)="favoriteInvoke(photo.id)" (keyup.enter)="favoriteInvoke(photo.id)"/>
                        </div>
                    </div>

                </li>
            </ul>
        </div>
        <!-- Caso o cliente corrente ou o user dono do perfil ainda não tenham fotos -->
        <div *ngIf="photos.length == 0">

          <div class="semFotos">
            <div *ngIf="this.userIsProfileOwner(); then thenBlock else elseBlock"></div>
            <ng-template #thenBlock>
              <h4> Você ainda não postou fotos </h4>
            </ng-template>
            <ng-template #elseBlock>
              <h4> Este usuário ainda não postou fotos </h4>
            </ng-template>
            <h3>
                <a tabindex="0" class="voltarFeed" href="/feed" > Voltar ao perfil </a>
            </h3>
          </div>

        </div>

    </div>
</div>

<ng-template #elseBlock>
    <div *ngIf="this.answerReceived" class = "noexist">
        Este utilizador não existe.
    </div>
</ng-template>

