.detalhesFotografia {
    max-width: 800px;
    margin: auto;
    display: flex;
    flex-direction: column;

    padding: 0px 20px 20px 20px;

}


.photoIndv, .photoExists {
    display: flex;
    justify-content:center;
    max-width: 800px;
    max-height: 75vh;
    background-color: rgb(216, 216, 216);
}

.mainImg {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.infoFoto {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.info {
    width: 70%;
}

.info h1 {
    color:#004196;
    font-size:2rem;
    font-weight: bold;
    font-family: 'Century Gothic', Arial, Helvetica, sans-serif;
    padding-right: 20px;
    word-wrap: break-word;
}

.info h2 {
    color:#575757;
    font-size:1rem;
    font-family: 'Century Gothic', Arial, Helvetica, sans-serif;
    word-wrap: break-word;
}


.opcoes img{
    height: 30px;
    width: 30px;
    
}

.opcoes {
    width:30%;
    margin: 10px;
    display: flex;
    flex-direction: column;
}

.botoes {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.botoes:hover, .botoes:focus {
    opacity: 0.5;
}

.dono{
    display: flex;
    justify-content: flex-end;
    padding-top: 6px;
    margin-right: 0;
    padding-bottom: 10px;
    text-decoration: none;
    color: black;
    width: 100%;
}

.donoText {
    font-size:1rem;
    font-family: 'Century Gothic', Arial, Helvetica, sans-serif;
    word-wrap: break-word;
    max-width: 70%;
}

.dono:hover,.dono:focus {
    opacity: 0.5;
}

h4{
    margin-top: auto;
    margin-bottom: auto;
    font-size:1rem;
    margin-right: 5px;
    font-family: 'Century Gothic', Arial, Helvetica, sans-serif;
    text-align: right; 
}



.dropbtn{
    background-color: #F7F7F7;
    color: white;
    padding: 0px;
    margin: auto;
    font-size: 1rem;
    border: none;
    cursor: pointer;
    border-radius: 100%;
    font-family: 'Century Gothic', Arial, Helvetica, sans-serif;
    width: 35px;
    height: 35px;
    margin-right: 0;
    margin-left: 5px;
}

.tooltip {
    position: relative;
    display: inline-block;
}
  
.tooltip .tooltiptext {
    width: 140px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 150%;
    left: 50%;
    margin-left: -75px;
    opacity: 0;
    transition: opacity 0.3s;
}
  
.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}
  
.tooltip:hover .tooltiptext {
    opacity: 1;
}

#popup {
      position: fixed;
      z-index:100;
      bottom:-1000px;
      left:40%;
      right:40%;

      background-color: #004196;
      text-align: center;
      font-size: 0.8em;
      overflow: hidden;
      padding: 10px 5px 10px 5px;
      margin-bottom: 10px;
      border-radius: 5px;
      color: white;

      font-family: 'Century Gothic', Arial, Helvetica, sans-serif;
}

#deleteConfirmation {

    display: none;

    position: fixed;
    z-index:100;
    bottom:0;
    left:30%;
    right:30%;
    justify-content: center;
    align-items: center;
    flex-direction: row;

    background-color: #004196;
    text-align: center;
    font-size: 0.8em;
    overflow: hidden;
    padding: 10px 5px 10px 5px;
    margin-bottom: 10px;
    border-radius: 5px;
    color: rgb(255, 255, 255);

    font-family: 'Century Gothic', Arial, Helvetica, sans-serif;

}

.confirmYes {
    margin-left: 5px;
    background-color: #F7F7F7;
    color: black;
    border:0;
    border-radius: 5px;
    padding: 5px 20px 5px 20px;
}

.confirmNo {
    margin-left: 5px;
    background-color: #8a8a8a;
    color: white;
    border:0;
    border-radius: 5px;
    padding: 5px 20px 5px 20px;
}

.confirmYes:hover{
    background-color: #5f7fa8;
    cursor: pointer;
}

.confirmNo:hover{
    background-color: #a8a8a8;
    cursor: pointer;
}

@keyframes slideUp {
    0%   {bottom:-1000px;}
    0%   {bottom:-100px;}
    15%  {bottom:0;}
    50%  {bottom:0;}
    75%  {background-color: #004196; color: white;bottom:0;}
    100% {background-color: #00419600; color: rgba(255, 255, 255, 0); bottom:0;}
}

@keyframes slideRemove {
    0%   {bottom:-1000px;}
    0%   {bottom:-100px;}
    15%  {bottom:0;}
    50%  {bottom:0;}
    100%  {background-color: #004196; color: white;bottom:0;}
}

@media only screen and (max-width: 1000px) {

    #popup {
        left:20%;
        right:20%;
    }

    #deleteConfirmation {
        left:10%;
        right:10%;
    }
}

@media only screen and (max-width: 500px){

    .infoFoto {
        flex-direction: column;
    }

    .opcoes {
        width: 100%;
        margin:0;
    }

    .info {
        width: 100%;
    }
    .info h1{
        padding: 0;
    }
    
    #deleteConfirmation {
        left:0;
        right:0;
        margin-bottom: 0;
        border-radius: 0;
    }

}

@media only screen and (max-width: 350px) {

    #popup {
        left:0;
        right:0;
        margin-bottom: 0;
        border-radius: 0;
    }

    #deleteConfirmation {
        flex-direction: column;
    }

    .confirmYes {
        margin-top: 5px;
        margin-bottom: 5px;
    }

    .confirmNo {
        margin-bottom: 5px;
    }

}

