.detalhesFotografia {
    max-width: 800px;
    margin: auto;
    display: flex;
    flex-direction: column;

    padding: 0px 20px 20px 20px;

}


.photoIndv, .photoExists {
    display: flex;
    justify-content:center;
    max-width: 800px;
    max-height: 75vh;
    background-color: rgb(216, 216, 216);
}

.mainImg {
    max-width: 100%;
    max-height: 100%;
}

.infoFoto {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.info {
    width: 80%;
}

.info h1 {
    color:#004196;
    font-size:2rem;
    font-weight: bold;
    font-family: 'Century Gothic', Arial, Helvetica, sans-serif;
    padding-right: 20px;
}

.info h2 {
    color:#575757;
    font-size:1rem;
    font-family: 'Century Gothic', Arial, Helvetica, sans-serif;
}


.opcoes img{
    height: 30px;
    width: 30px;
    
}

.opcoes {
    width:20%;
    margin: 10px;
    display: flex;
    flex-direction: column;
}

.botoes {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.dono{
    display: flex;
    justify-content: flex-end;
    padding-top: 6px;
    margin-right: 0;
    padding-bottom: 10px;
    text-decoration: none;
    color: black;
    font-size:1.5rem;
    flex-wrap: nowrap;
    font-family: 'Century Gothic', Arial, Helvetica, sans-serif;

}



h4{
    margin-top: auto;
    margin-bottom: auto;
    font-size:1rem;
}

.dropbtn{
    background-color: #F7F7F7;
    color: white;
    padding: 0px;
    margin: auto;
    font-size: 1rem;
    border: none;
    cursor: pointer;
    border-radius: 100%;
    font-family: 'Century Gothic', Arial, Helvetica, sans-serif;
    width: 35px;
    height: 35px;
    margin-right: 0;
    margin-left: 5px;
}

