<app-header></app-header>
<div class="detalhesFotografia">

    <!-- FOTO INDIVIDUAL -->
    <div class="photoIndv">
        <div *ngIf="photo && photo.descricao; else elseBlock">
            <div *ngIf="photo" class="photoExists">
                <img class="mainImg" src={{photo?.photo}} alt="{{photo.descricao}}">
            </div>
        </div>
        <ng-template #elseBlock>
            <div *ngIf="photo" class="photoExists">
                <img class="mainImg" src={{photo?.photo}} alt="{{photo.nome}}">
            </div>
        </ng-template>



    </div>


    <div class="infoFoto">

        <div class="info">
            <h1>{{photo?.nome}}</h1>
            <h2>{{photo?.descricao}}</h2>
        </div>

        <div class="opcoes" *ngIf="auth.getUserDetails()?.nickname">

            <div>
                <a class="dono" href="/perfil/{{nickname}}" tabindex="0" >
                    <h4 class="donoText" tabindex="-1">{{photo?.dono}}</h4>
                    <button class="dropbtn" id="dropbtno" tabindex="-1"><img src="assets/user-profile.png" tabindex="-1"></button>
                </a>
            </div>

            <!-- tipo == nolike-->
            <!-- ja tinha like, vai tirar-->
            <div *ngIf="checkLike()" class = "botoes" (click)="likeInvoke(this.id)" (keyup.enter)="likeInvoke(this.id)" tabindex="0">
                <h4 class="likes"> {{nrLikes}} Likes</h4>
                <img src="assets/heart.png" id="botaoLike"/>
            </div>
            <!-- nao tinha like, vai por-->
            <div *ngIf="!checkLike()" class="botoes" (click)="likeInvoke(this.id)" (keyup.enter)="likeInvoke(this.id)" tabindex="0">
                <h4 class="likes"> {{nrLikes}} Likes</h4>
                <img src="assets/likebutton.png" id="botaoLike"/>
            </div>

            <!-- BOTAO DE FAVORITO -->
            <div *ngIf="!tenhoFavorite(photo?.id)" class="botoes" (click)="favoriteInvoke(photo?.id)" (keyup.enter)="favoriteInvoke(photo?.id)" tabindex="0">
                <h4 class="favs" > Favorita </h4>
                <img id="favorite{{photo?.id}}" src="assets/favourite.png" />
            </div>

            <div *ngIf="tenhoFavorite(photo?.id)" class="botoes" (click)="favoriteInvoke(photo?.id)" (keyup.enter)="favoriteInvoke(photo?.id)" tabindex="0">
                <h4 class="favs" > Favorita </h4>
                <img id="favorite{{photo?.id}}" src="assets/favouriteChecked.png" />
            </div>

                    <!-- <img src="assets/favourite.png" /> <h4 class="favoritos">Botao Favorito</h4> -->
            <!-- BOTAO DE SHARE -->
            <div class = "botoes" (click)="copyMessage()" (keyup.enter)="copyMessage()" tabindex="0">

                <h4 class="partilhar" id="partilhar" > Partilhar </h4>
                <img src="assets/share.png" id="partilharFoto"/>

            </div>

                <!--verificar se quem abriu a foto é dono dela e caso seja ter a hipotese de apagar-->

            <!-- BOTAO DE TRASH -->
            <div *ngIf="nickname == dono" class = "botoes" (click)="deletePhoto(photo?.id)" (keyup.enter)="deletePhoto(photo?.id)" tabindex="0">
                <h4 class="eliminar" id="apagar"> Eliminar </h4>
                <img src="assets/trash.png"/>
            </div>
        </div>

        <div class="opcoes" *ngIf="!auth.getUserDetails()?.nickname">
            <div>
                <a class="dono" href="/" tabindex="0" >
                    <h4 class="donoText" tabindex="-1">{{photo?.dono}}</h4>
                    <button class="dropbtn" id="dropbtno" tabindex="-1"><img src="assets/user-profile.png" tabindex="-1"></button>
                </a>
            </div>

            <div class = "botoes" (click)=" goHome()" (keyup.enter)="goHome()" tabindex="0">
                <h4 class="likes"> {{nrLikes}} Likes</h4>
                <img src="assets/heart.png" id="botaoLike"/>
            </div>



                     <!-- <img src="assets/favourite.png" /> <h4 class="favoritos">Botao Favorito</h4> -->
            <!-- BOTAO DE SHARE -->
            <div class = "botoes" (click)="copyMessage()" (keyup.enter)="copyMessage()" tabindex="0">

                <h4 class="partilhar" id="partilhar" > Partilhar </h4>
                <img src="assets/share.png" id="partilharFoto"/>
            </div>
        </div>
</div>

<!--BOTAO DE CONFIRMAR APAGAR-->
<div id="deleteConfirmation">
    Queres mesmo apagar esta foto?
    <button type="button" class="confirmYes" (click)="confirmDeletePhoto(photo?.id)">Sim</button>
    <button type="button" class="confirmNo" (click)="cancelDeletePhoto()">Não</button>
</div>

<div id='popup'>Copiado para a clipboard</div>

