<div class="all-app">
    <div class="main">
      <div class="logo-div">
        <img src="assets/logo_azul.png">
        <h1>InstaGrama</h1>
      </div>
      <div class="login-box">

        <div class="input-box">
            <input #nickname id="nickname-input" type="text" placeholder="Nickname" (input)="nicknameInsert(nickname.value)">
            <input #password id="password-input" type="password" placeholder="Password" (input)="passwordInsert(password.value)">
        
            <h3 id="error-login" *ngIf="error">{{error}}</h3>
    
            <button (click)="entrar()">
                Entrar
            </button>
        </div>
        <h2>Não tens uma conta? <a href="/registar">Regista-te</a></h2>
    
    </div>
    
    </div>
    <div class="footer">
      <p>Faculdade de Ciências da Universidade de Lisboa - Projeto de Sistemas de Informação (2020/2021)</p>
      <p>André Costa 52788 | Diogo Pinto 52763 | Francisco Freire 52177 | Francisco Ramalho 53472 | João Funenga 53504 | Martim Silva 51304</p>
    </div> 
  </div>
