<div class="header">
    

    <!-- LOGO + TITULO -->
    <div class="logo-div">
        <a href= "/feed"> <img id="logo" src="assets/logo_azul.png" href="/feed"> </a>
        <h1>InstaGrama</h1>
    </div>

    <!-- UTILIZADOR DROPDOWN 
    <div id ="utilizador">
        <h2 id="nomeUser">{{name}}</h2>
        <a id="botaoPerfil" href="/perfil"><img src="assets/user-profile.png"/></a>
    </div>



    <div class="ordenarPor" id="ordenarPor">
                <a (click)="ordenaMuda('Mais Recentes')">Mais Recentes</a>
                <a (click)="ordenaMuda('Mais Antigas')">Mais Antigas</a>
                <a (click)="ordenaMuda('Mais Likes')">Mais Likes</a>
            </div>
    -->


    <!-- TODO tentar fazer dropdown com imagens -->
         <div id ="utilizador">
            <h2 id="nomeUser">{{ auth.getUserDetails()?.nickname }}</h2>
            <div class="dropdown">                      <!-- (keyup.enter)="mudaStyle() -->
                <button class="dropbtn" id="dropbtno" (click)="openMenu()"><img src="assets/user-profile.png"></button>
                <div #botaoAbrir class="dropdown-content" id = "dropbt">
                        <!--  <a href="/perfil"><img src="assets/profile." Meu perfil</a>-->

                    <!-- *ngIf="auth.isLoggedIn()" CASO SEJA PRECISO USAR NA PAGINA INDIVIDUAL DA FOTO-->

                    <a href="/perfil/{{auth.getUserDetails()?.nickname}}"><img src="assets/user-profile.png" class="iconProf" id="prof">  Meu perfil</a>
                    <a href="/publicar"><img src="assets/addButton.png"> Adicionar Foto</a>
                    <a href="/favoritos"><img src="assets/favouriteChecked.png"> Meus Favoritos</a>
                    <a href="/definicoes"><img src="assets/settings.png"> Definições</a>
                    <a href="#" (click)="auth.logout()"><img src="assets/logout.png"> Terminar Sessão</a>
                </div>
            </div>
        
        </div>

</div>