<div class="header">
    

    <!-- LOGO + TITULO -->
    <div class="logo-div">
        <a href= "/feed"> <img id="logo" src="assets/logo_azul.png" href="/feed"> </a>
        <h1>InstaGrama</h1>
    </div>

    <!-- TODO tentar fazer dropdown com imagens -->
     
    <!--
     <h4>Basic mat-select</h4>
     <mat-form-field appearance="fill">
       <mat-label>Perfil</mat-label>
          <mat-select>
            <mat-option *ngFor="let food of foods" [value]="food.value">
              {{food.viewValue}}
           </mat-option>
         </mat-select>
     </mat-form-field>
 
    -->
  
    <div *ngIf="auth.getUserDetails()?.nickname">
        <div id ="utilizador">
            <h2 id="nomeUser">{{ auth.getUserDetails()?.nickname }}</h2>
            <div class="dropdown">    
                <button class="dropbtn" id="dropbtno" (keydown.enter)="openMenu()"><img src="assets/user-profile.png"></button>
                <div #botaoAbrir class="dropdown-content" id = "dropbt"> 

                    <a href="/feed" (keydown.shift.tab)="closeOnTab()"><img src="assets/feed.png"> Feed </a>
                    <a href="/perfil/{{auth.getUserDetails()?.nickname}}"><img src="assets/user-profile.png" class="iconProf" id="prof">  Meu perfil</a>
                    <a href="/publicar"><img src="assets/addButton.png"> Adicionar Foto</a>
                    <a href="/favoritos"><img src="assets/favouriteChecked.png"> Meus Favoritos</a>
                    <a href="/definicoes"><img src="assets/settings.png"> Definições</a>
                    <a href="#" (click)="auth.logout()" (keydown.tab)="closeOnTab()"><img src="assets/logout.png"> Terminar Sessão</a>
                </div>
            </div>
        
        </div>
    </div>
    <div *ngIf="!auth.getUserDetails()?.nickname" class="notlogged">
        <h2 class="nologin"> <a href="/" id= "removeUnderline"> Iniciar sessão</a> </h2>
    </div>


</div>