
.header{
    display: flex;
    flex-direction: row;
    margin: auto;
    max-width: 800px;

    justify-content: space-between;
    padding: 20px 20px 20px 20px;
}

#utilizador {
    display: flex;
}

.logo-div {
    display: flex;
    flex-direction: row;
}

.logo-div #logo{
    display: flex;
    justify-content: left;
    height: 50px;
    width: 50px;
}

#botaoPerfil{
    margin-top: auto;
    margin-bottom: auto;
    height: 35px;
    width: 35px;
}


#utilizador img {
    height: 35px;
    width: 35px;
}

.logo-div h1{
    justify-content: right;
    font-size: 1.5rem;

    padding-left: 15px;
    margin-top: auto;
    margin-bottom: auto;
    color: #004196;
    font-family: 'Century Gothic', Arial, Helvetica, sans-serif;
}

h2 {
    font-size: 0.9rem;
    color: #555555;
    font-family: 'Century Gothic', Arial, Helvetica, sans-serif;
    font-weight: lighter;
    justify-content: right;
    text-align: center;
    padding-right: 10px;
    margin-top: auto;
    margin-bottom: auto;
}


.dropdown {
    position: relative;
    padding-top:7px;
    display: inline-block;
    justify-content:center;
    font-family: 'Century Gothic', Arial, Helvetica, sans-serif;
}


.dropbtn{
    background-color: #0b7b8a;
    color: white;
    padding: 0px;
    margin: auto;
    font-size: 1rem;
    border: none;
    cursor: pointer;
    border-radius: 100%;
    font-family: 'Century Gothic', Arial, Helvetica, sans-serif;
    width: 35px;
    height: 35px;
}


.dropdown-content {
    
    position: absolute;
    background-color: #f9f9f9;
    min-width: 180px;
    box-shadow: 0px 8px 16px
        0px rgba(0, 0, 0, 0.2);
    z-index: 2;
    align-items:left;
    right: 0;
}

.dropdown-content a {
    color: black;
    padding: 12px 10px;
    margin-left: 10px;
    font-size: 1rem;
    text-decoration: none;
    
    align-items: center;
    display: flex;
    padding-left:10px;
    margin: 0;
}

.dropdown-content a img {
    max-width: 20px;
    max-height: 20px;
    padding-right: 10px;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
    
}

.dropdown:hover .dropdown-content {
   display: flex;
   flex-direction: column;
}

.dropdown:hover .dropbtn {
    background-color:#11c3f9;
}
/*
.dropdown-content a:focus{
    display: none;
}*/




@media only screen and (max-width: 400px) {

    h1, h2 {
        display: none;
    }

}