<div class="all-app">
    <div class="main">
      <div class="logo-div">
        <img src="assets/logo.png">
        <h1>InstPhotos</h1>
      </div>
    <div class="register-box">
        <button [class.selected]="tipo == fotografo" (click)="souFotografo()">
            Fotógrafo
        </button>
        <button [class.selected]="tipo == utilizador" (click)="souUtilizador()">
            Utilizador
        </button>

            <div class="input-box">
                <input #nickname id="nickname-input" type="text" placeholder="Nickname" (input)="nicknameRegister(nickname.value)">
                <input #password id="password-input" type="text" placeholder="Password" (input)="passwordRegister(password.value)">
        
                <h3 id="error-register" style="white-space: pre-line" >{{error}}</h3>


                <button (click)="registar()">
                    Registar
                </button>
            </div>

         
                <div class="password-requirements">
                    <h4>Password Requirements TEMOS DE MOSTRAR (tentei fazer com que eles fossem desaparecendo ams n csg</h4>
                    Password must be at least 8 chars.<br>
                    Password must have at least one digit.<br>
                    Password must have at least one lowercase letter.<br>
                    Password must have at least one uppercase letter.<br>
                </div>      
        
        <h2>Já tens uma conta? <a href="/">Inicia a Sessão!</a></h2>

    </div>
</div>
<div class="footer">
  <p>Faculdade de Ciências da Universidade de Lisboa - Projeto de Sistemas de Informação (2020/2021)</p>
  <p>André Costa 52788 | Diogo Pinto 52763 | Francisco Freire 52177 | Francisco Ramalho 53472 | João Funenga 53504 | Martim Silva 51304</p>
</div> 
</div>
